<ion-view id="page2">

    <ion-nav-title>Buildings</ion-nav-title>"

    <ion-content>

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <!--commented out the original layout for listing the buildings, to instead use cards below. -TW-->

        <!-- <ion-list id="buildings-list5">
            
            
          <ion-item class="item-thumbnail-left" id="buildings-list-item3" ui-sref="tabsController.buildingInfo({&quot;id&quot;:&quot;&quot;+building.$id+&quot;&quot;})" ng-repeat="building in buildings">
            <img src="{{building.imageURL}}">
            <h2>{{building.title}}</h2>
            <p style="white-space:normal;">{{building.description}}</p>
          </ion-item>

            <ion-card sref="tabsController.buildingInfo({&quot;id&quot;:&quot;&quot;+building.$id+&quot;&quot;})" ng-repeat="building in buildings">
            <img src="{{building.imageURL}}" height="200" width="200"/>
            <div class="card-title">{{building.title}}</div>
            <div class="card-subtitle">{{building.description}}</div>    
          </ion-card>

        

        </ion-list>
   -->

        <!--code that gives each building in our database its own card to be listed. -TW-->
        <div class="list card" ui-sref="tabsController.buildingInfo({&quot;id&quot;:&quot;&quot;+building.$id+&quot;&quot;})" ng-repeat="building in buildings">
            <h2 style=" text-align: center; ">{{building.title}}</h2>
            <p style=" text-align: center; ">{{building.description}}</p>


            <div class="item item-image">
                <img src="{{building.imageURL}}" height="200" width="200">
            </div>

            <a style=" text-align: center; " class="item item-icon-center assertive" href="tabsController.buildingInfo({&quot;id&quot;:&quot;&quot;+building.$id+&quot;&quot;}" )>
                <i class=""></i> Building Info
            </a>

        </div>


    </ion-content>

    <!--commented out because in the documention on github, it states that only the developers can add buildings since certain things need to //be configured. For this reason, I have simply commented out the button to add a building for now. - TW-->
    <!--
      <ion-footer-bar align-title="center" class="bar-assertive">
        <div class="buttons">
          <button class="button" ui-sref="tabsController.help">Help</button>
        </div>
        <h1 class="title">EeShares!</h1>
      </ion-footer-bar>
    -->


</ion-view>
