<ion-view title="Campaign" id="page9">
    <ion-nav-title>Campaign</ion-nav-title>"
  <ion-content padding="true" class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <h2 id="campaign-heading10" style="color:#000000;text-align:center;">{{name}}</h2>
    <h3 style="color:#000000;text-align:center;">Points!</h3>
    <h1 style="color:#33CD5F;text-align:center;">{{score}}</h1>
    <h3 style="color:#000000;text-align:center;">Expected Monthly Bill!</h3>
    <h1 ng-show="success" style="color:#33CD5F;text-align:center;">{{expectedBill}}</h1>
    <h1 ng-hide="success" style="color:#EF473A;text-align:center;">{{expectedBill}}</h1>
    <form id="campaign-form6" class="list">
      <label class="item item-input readonly" id="campaign-input10">
        <span class="input-label">Name: </span>
        <input type="text" placeholder="" ng-model="name" ng-readonly="true">
      </label>
      <label class="item item-input readonly" id="campaign-input12">
        <span class="input-label">Goal:</span>
        <input type="text" placeholder="" ng-model="goal" ng-readonly="true">
      </label>
      <label class="item item-input readonly" id="campaign-input18">
        <span class="input-label">Duration:</span>
        <input type="text" placeholder="" ng-model="duration" ng-readonly="true">
      </label>
      <label class="item item-input" id="campaign-input19">
        <span class="input-label">Description:</span>
        <input type="text" placeholder="" ng-model="description" ng-readonly="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Milestone:</span>
        <input type="text" placeholder="" ng-model="milestone" ng-readonly="true">
      </label>
    </form>
    <h3 id="campaign-heading11" style="color:#000000;text-align:center;">Tasks</h3>
    <button id="campaign-button7" ng-show="isOwner" ng-click="addTask()" class="button button-balanced  button-block icon ion-android-add"></button>
    <form id="campaign-form7" class="list">
      <ion-toggle toggle-class="toggle-positive" id="campaign-toggle3" ng-repeat="task in tasks" ng-model="task.completed">{{task.title}}</ion-toggle>
    </form>
    <button ng-click="logTasks()" class="button button-positive  button-block">Log Tasks!</button>
    <a ui-sref="tabsController.cambridgePrize({&quot;campaignID&quot;:&quot;&quot;+id+&quot;&quot;,&quot;userID&quot;:&quot;&quot;+campaignUserID+&quot;&quot;})" class="button button-positive  button-block">Prizes!</a>
    <div id="campaign-button-bar3" class="button-bar">
      <a ui-sref="tabsController.messageBoard({&quot;id&quot;:&quot;&quot;+id+&quot;&quot;})" id="campaign-button18" class="button button-assertive  button-block">Message Board</a>
      <a ui-sref="tabsController.members({&quot;id&quot;:&quot;&quot;+id+&quot;&quot;})" id="campaign-button16" class="button button-assertive  button-block">Members</a>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <div class="buttons">
      <button class="button" ui-sref="tabsController.help">Help</button>
    </div>
    <h1 class="title">EeShares!</h1>
  </ion-footer-bar>
</ion-view>