<ion-view title="Help">
  <ion-content padding="true" class="has-header">
    <h1 style="color:#EF473A;text-align:center;">Help</h1>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/Gj0DtnuxQshXwLm9bUib_buildingtab.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">To Add a New Building or Campaign: Cui@umd.edu
      </p>
    </div>
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">For Application Suggestions or Bugs: jhomble7@gmail.com
      </p>
    </div>
    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;">Other Concerns: jhomble7@gmail.com</p>
    </div>
    <a ui-sref="welcome({&quot;flag&quot;:&quot;0&quot;})" class="button button-positive  button-block">See Welcome Slides</a>
    <button ng-click="reset()" class="button button-positive  button-block">Reset Password</button>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">EeShares</p>
    </div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Energy Efficiency Sharing</p>
    </div>
  </ion-content>
</ion-view>