<ion-view title="Help">
  <ion-content padding="true" class="has-header">
    <h1 style="color:#EF473A;text-align:center;">Help</h1>
    <div>
      <img src="https://s3.amazonaws.com/ionic-io-static/QJ72ZpNQSlKGJeE6NoIT_contact.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 48px;"></div>
    <div class="show-list-numbers-and-dots">
        <h4 style="color:#000000;">To Add a New Building or Campaign:</h4>
        <h5> Cui@umd.edu </h5>
    </div>
    <div class="show-list-numbers-and-dots">
        <h4 style="color:#000000;">Application Suggestions of Bugs:</h4>
        <h5> jhomble7@gmail.com </h5>
    </div>
    <div class="show-list-numbers-and-dots">
        <h4 style="color:#000000;">Other Concerns:</h4>  
        <h5> jhomble7@gmail.com </h5>    
    </div>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">EeShares</p>
    </div>
    <div style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Energy Efficiency Sharing</p>
    </div>
  </ion-content>
</ion-view>