<ion-view title="How It Works" hide-nav-bar="true">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" style="width:100%;height:100%;">
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/vHOwnvMXTf2W1Zz46CXe_BuildingsSS.png&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/qEECrWvPSVi3DeUkfCpu_BuildingInfoSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/hddOvTC6SmaF8s8uEmVs_GraphSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/HeimUZMMQTWEqjE8Um8X_CampaignInfoSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/cwrWuBnBRfyGa72aVebz_JoinSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/gePlM2q3RUu2yTOZygGg_PersonalSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/xovzIHSDScu0h0SB0l6z_CampaignSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/q1pRbEe3SbK40mvR2jjZ_TaskSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/3Caww7kQ5SurCUwGpYsf_TaskPopSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;https://s3.amazonaws.com/ionic-io-static/03pOzloaT5CsDQmQg4kq_PersonalSS.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page style="background-color:#387EF5;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="https://s3.amazonaws.com/ionic-io-static/IVfO9Ry4Qa2UezgtUZtH_icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <h3 style="color:#FFFFFF;text-align:center;">Team Work!</h3>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Prizes are only given out if the campaign goal is reached! So work together to win together!</p>
              </div>
              <a ui-sref="tabsController.personal" class="button button-stable button-large button-block">Get Started!</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>