<ion-view title="Tabs Controller" id="page1">
    
  <ion-tabs class="tabs-striped tabs-color-energized" id="tabsController-tabs1">
    <ion-tab title="Buildings" icon="ion-location" href="#/Tabs/buildings" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Personal" icon="ion-person" href="#/Tabs/personal" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
       <ion-tab title="Settings" icon="ion-gear-a" href="#/Tabs/settings" id="tabsController-tab4">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>