<ion-view title="Welcome" hide-nav-bar="true">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" style="width:100%;height:100%;">
      <ion-slide-page style="background-color:#387EF5;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="https://s3.amazonaws.com/ionic-io-static/Jsajw4YmQumOM1qtZP43_icon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 75px;"></div>
              <h3 style="color:#FFFFFF;text-align:center;">Welcome to EEShares</h3>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">An incentive based application designed to increase energy efficiency in its users!</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#11C1F3;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="https://s3.amazonaws.com/ionic-io-static/ZzKmFGp4SBQldOBjrTtg_buildingIcon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <h3 style="color:#FFFFFF;text-align:center;">How to Start!</h3>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Join a building's campaign and complete tasks given by the owner!</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#33CD5F;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="https://s3.amazonaws.com/ionic-io-static/U9F1BP2JTCSYL6t2A0k9_lightbulbIcon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <h3 style="color:#FFFFFF;text-align:center;">Save Energy</h3>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">See current energy statistics of the building and as a group reach the energy saving goal!</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#886AEA;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="https://s3.amazonaws.com/ionic-io-static/AdTou8YzSuGfqYx7uzyC_prizeIcon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <h3 style="color:#FFFFFF;text-align:center;">Win Prizes!</h3>
              <div style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Earn points through completeing tasks. If the campaign goal is reached, enter to win prizes with your points!</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#EF473A;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="https://s3.amazonaws.com/ionic-io-static/g9tYJnR1SOGCCeVV5WPy_moneyIcon.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="height: 100px;"></div>
              <h3 style="color:#FFFFFF;text-align:center;">Get Started Now!</h3>
              <a ui-sref="login" class="button button-stable button-large button-block">Log In</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>