<ion-view title="Personal" id="page3">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="personal-markdown3" style="text-align:center;">
      <p style="color:#000000;">Welcome {{userData.name}}!</p>
    </div>
    <ion-list id="personal-list4">
      <ion-item class="item-thumbnail-left" id="personal-list-item2">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <button id="personal-button6" ng-click="logout()" style="border-radius:0px 0px 0px 0px;" class="button button-assertive  button-block">Logout</button>
  </ion-content>
</ion-view>